<div class="container">
  <div class="row">
    <div class = "col-md-12 mt-4">
  <h1 class="text-center">Employee list</h1>
<table class="table table-bordered table-striped">
<thead>
  <tr>
    <th class="text-center" >Employee Id</th>
    <th class="text-center" >First Name</th> 
    <th class="text-center" >Last Name</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor= "let emp of employees">
    <td>    {{emp.id}}  </td>
    <td>    {{emp.firstname}}  </td>
    <td>    {{emp.lastname}}  </td>
    
    <td>
       <button type="button" class="btn btn-info" (click)="displayEmployee(emp)">Add Employee</button>
       <button type="button" class="btn btn-danger" (click)="removeEmployee(emp)">Delete</button>
    </td>
 </tr>
</tbody>
</table>

<!-- ******************* Form ******************
  
  <div *ngIf="isEmployeeForm"> 
  <form [formGroup] = "employeeForm" nonvalidate>
    <div class="form-group">
      <label class="col-md-4">First Name : </label>
      <input type="text" class="form-control" formControlName="firstname" #firstname />
    </div>
    <div *ngIf="employeeForm.controls['firstname'].invalid && (employeeForm.controls['firstname'].dirty || employeeForm.controls['firstname'].touched)" class="alert alert-danger">
      <div *ngIf="employeeForm.controls['firstname'].errors.required">
        First Name is required.
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4">Last Name : </label>
      <input type="text" class="form-control" formControlName="LastName" #FirstName />
    </div>
    <div *ngIf="employeeForm.controls['LastName'].invalid && (employeeForm.controls['LastName'].dirty || employeeForm.controls['LastName'].touched)" class="alert alert-danger">
      <div *ngIf="employeeForm.controls['LastName'].errors.required">
        Last Name is required.
      </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="saveEmployee(newEmpoyee)">Save</button>
  </form> -->


  <div>
    <form *ngIf="isEmployeeForm">    
        <h2>Add new employees </h2>
            <p> First Name : <input type="text" name="firstname" [(ngModel)]="newEmpoyee.firstname"></p>
            <p> Last Name : <input type="text" name="lastname" [(ngModel)]="newEmpoyee.lastname"></p>
            <p><button type="button" class="btn btn-primary" (click)="saveEmployee(newEmpoyee)">Save</button></p>
    </form>
  </div>


</div>
</div>
</div>